body {
    font-family: Arial, Helvetica, sans-serif;
    background: url(bluebg.jpg) repeat blue;
    color: blueviolet;
}
main {
    background: white url("redFlowerSmall.png") no-repeat right top;

}

.pipeline {
    width: 500;
}
.surfspots{
    list-style-image: url(dot.png);
}
.other{
    background-image: url(bluebg.jpg);
    background-color: blue;
    background-repeat: repeat;
}
.moreother {
    background-image: url(redFlowerSmall.png) no-repeat center;
}