body{
    font-family: Arial, Helvetica, sans-serif;
    background: url(hohtenger.jpg) ;
    background-repeat: repeat white;
}
nav a {
    color: green;
}
.current {
    color: red;
}
ul a {
    color: green;
}
.current {
    color: red;
}
h2 {
    color: chocolate;

}
h1 {
    color: darkslategrey;
    text-align: center;
}
main{
    background: url(mongoltug.png);
    background-repeat: no-repeat;
    background-position: right top;
    
}
